João Gabriel Simi de Oliveira
Contato: (45) 98843-1551 ou joaosimi@icloud.com
Localizaçã o: Foz do Iguaçu, Paraná , Brasil
—————————————————————————————————————————————
Obje2vo Profissional
Busco uma oportunidade na á rea de Tecnologia da Informaçã o, onde possa aplicar minhas habilidades em
desenvolvimento e continuar meu crescimento profissional em um ambiente desafiador, contribuindo com
a equipe e aprendendo continuamente.
—————————————————————————————————————————————
Formação
Cursando Engenharia de Software
-
Uniamérica
Ensino Médio Completo
—————————————————————————————————————————————
Competências Técnicas
-
Programaçã o: JavaScript, C, HTML, CSS
-
Versionamento: Git, GitHub
-
Web: Manipulaçã o do DOM, desenvolvimento front-end
-
Prototipagem: Criaçã o de protó tipos de alta fidelidade utilizando Figma
-
Gerenciamento de Projetos: Organizaçã o de tarefas com Trello e GitHub
-
Mecâ nica: Experiência em mecâ nica de automó veis
—————————————————————————————————————————————
Experiência Profissional
Estágio - Auxiliar Administra2vo (Início de 2021 - Final de 2023)
-
Responsável por planilhas de salá rio, escalas de funcioná rios e controle de almoxarifado
-
Auxílio na recepçã o e soluçã o de problemas de pacientes.
-
Desenvolvimento de habilidades organizacionais e de resoluçã o de problemas
Porteiro de Condomínio (Período de um mês, cobrindo férias)
-
Recebimento de entregas, monitoramento de câ meras de segurança e recepçã o de moradores e
visitantes
-
Desenvolvimento de habilidades em atendimento e segurança
—————————————————————————————————————————————
Projetos Acadêmicos
-
RAAZZ (Projeto Mensal): Desenvolvimento de um site para ajudar usuá rios na escolha de um carro,
exibindo informaçõ es técnicas, custos de manutençã o e feedbacks de usuá rios.
-
Landing Page (Projeto para Empresa): Desenvolvimento de uma landing page para uma empresa de
decoraçã o de festas.
—————————————————————————————————————————————
Competências Pessoais
-
Facilidade de adaptaçã o e aprendizado rá pido
-
Proatividade e cooperaçã o em equipe
-
Boa comunicaçã o e atendimento ao cliente
—————————————————————————————————————————————
Idiomas
Inglês bá sico (em estudo)



tambem tenho outros projetos no meu github: https://github.com/JGSimi?tab=repositories